<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      @if (selectedEvent != null) {
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete event {{selectedEvent.code}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Estas seguro de querer eliminar el evento {{selectedEvent.name}}??
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="executeConfirmation()">Eliminar</button>
      </div>
      }
    </div>
  </div>
</div>
